<div class="container mx-auto px-4 mt-4 md:mt-8 md:p-0">
    <div *ngIf="loading" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75 z-50">
        <div class="loader ease-linear rounded-full border-4 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
        <p class="text-white text-lg">Cargando...</p>
    </div>
    <div class="flex justify-center">
        <div class="w-full max-w-6xl bg-gray-claro rounded-lg shadow-xl overflow-hidden relative">
            <div *ngIf="successMessage" class="w-full bg-green-intermedio text-center text-white text-lg max-h-10">
                {{ successMessage }}
            </div>
            <div *ngIf="errorMessage" class="w-full bg-red-500 text-center text-white text-lg max-h-10">
                {{ errorMessage }}
            </div> 
            
            <h1 *ngIf="medicoId == null" class="text-center text-xl mt-5">Añadir Medico</h1>
            <h1 *ngIf="medicoId != null && !viendoCalendarios" class="text-center text-xl mt-5">Editar Medico</h1>
            <h1 *ngIf="medicoId != null && viendoCalendarios" class="text-center text-xl mt-5">Calendarios del Medico</h1>
            <button *ngIf="medicoId != null" type="button" (click)="viendoCalendarios = !viendoCalendarios" title="verCalendario" class="bg-blue-intermedio text-white border border-blue-intermedio rounded-md py-1 px-3 hover:bg-blue-oscuro transition duration-300 absolute right-4 top-4 flex">
                <div *ngIf="!viendoCalendarios" class="flex">
                    <p class="hidden sm:block mr-2">Calendarios</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line>
                    </svg>
                </div>
                <div *ngIf="viendoCalendarios" class="flex">
                    <p class="hidden sm:block mr-2">Datos Medico</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                </div>
            </button>

            <form *ngIf="!viendoCalendarios" [formGroup]="DatosMedicoForm" (ngSubmit)="agregarMedico()">


                <div class="flex flex-col md:flex-row p-5">
                    <!-- INFO MEDICO -->
                    <div class="w-full md:w-1/2 flex flex-col space-y-5 order-2 md:order-1"> <!-- Fondo de color agregado -->
                        <h1 class="flex justify-center text-lg">
                            Datos del Medico
                        </h1>
                        <div class="flex flex-col">
                            <label for="nombres" class="text-sm font-medium">Nombres</label>
                            <input type="text" id="nombres" formControlName="nombres" class="border rounded-md p-2" placeholder="Ingrese Los Nombres Aquí..." required>
                        </div>
                        <div class="flex flex-col">
                            <label for="apellidos" class="text-sm font-medium">Apellidos</label>
                            <input type="text" id="apellidos" formControlName="apellidos" class="border rounded-md p-2" placeholder="Ingrese Los Apellidos Aquí..." required>
                        </div>
                        <div class="flex flex-col">
                            <label for="documento" class="text-sm font-medium">Documento</label>
                            <input 
                            required
                            type="text" 
                            id="documento" 
                            formControlName="documento" 
                            class="border rounded-md p-2" 
                            placeholder="Ingrese El Documento Aquí..."
                            min="1" 
                            pattern="^[1-9]\d*$"
                            inputmode="numeric"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                            maxlength="8"
                            minlength="8"
                            />
                        </div>
                        <div class="flex flex-col">
							<label for="telefono" class="text-sm font-medium">Telefono</label>
                            <input 
                            required
                            type="tel" 
                            id="telefono" 
                            formControlName="telefono" 
                            class="border rounded-md p-2" 
                            placeholder="Ingrese El Telefono Aquí..."
                            pattern="^[0-9]\d*$"
                            inputmode="numeric"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                            />
						</div>
						<div class="flex flex-col">
                            <label for="email" class="text-sm font-medium">Email</label>
                            <input type="email" id="email" formControlName="email" class="border rounded-md p-2" placeholder="Ingrese El Email Aquí..." required>
                        </div>
                    </div>
    
                    <!-- ESPECIALIDADES -->
                    <div class="w-full md:w-1/2 flex flex-col space-y-5 order-2 md:order-1"> <!-- Fondo de color agregado -->
                        <h1 class="flex justify-center text-lg">
                            Especialidades
                        </h1>
                        <!-- en caso de que ya hayan especialidades en el arreglo, asegurarme que se apliquen en los checkbox -->
                        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 place-items-center">
                            <div *ngFor="let especialidad of this.especialidades" class="flex">
                                <input type="checkbox" [id]="especialidad.nombre" [value]="especialidad.id" (change)="onCheckboxChange($event)" [checked]="DatosMedicoForm.value.especialidades.includes(especialidad.id)">
                                <label [for]="especialidad.nombre" class="text-sm font-medium">{{especialidad.nombre}}</label>
                            </div>
                        </div>
                    </div>
                </div>

				<div class="flex justify-center space-x-5 p-5">
					<button type="submit" title="Guardar" class="bg-blue-intermedio text-white border border-blue-intermedio rounded-md py-1 px-3 hover:bg-blue-oscuro transition duration-300">
						Guardar Medico
					</button>
				</div> 

            </form>

            <!-- SECCION DE LOS CALENDARIOS -->
            <div *ngIf="viendoCalendarios">
                <div *ngIf="viendoCalendarios" class="flex flex-col md:flex-row p-5">
                    <!-- LISTA DE CALENDARIOS -->
                    <div class="w-full flex flex-col space-y-5 order-2 md:order-1"> <!-- Fondo de color agregado -->
                        
                        <div class="w-full">
                            <table class="w-full">
                                <thead>
                                    <th class="border border-gray-oscuro p-2 text-left">Inicio</th>
                                    <th class="border border-gray-oscuro p-2 text-left">Fin</th>
                                    <th class="border border-gray-oscuro p-2 text-left">Tiempo Cita</th>
                                    <th class="border border-gray-oscuro p-2 text-left">Cupos</th>
                                    <th class="border border-gray-oscuro p-2 text-left">Dias Semana</th>
                                    <th class="border border-gray-oscuro p-2 text-left">Especialidad</th>
                                    <th class="border border-gray-oscuro p-2 text-left">Consultorio</th>
                                    <th class="border border-gray-oscuro p-2 text-left w-10">Acciones</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let calendario of calendariosDelMedico">
                                        <td class="border border-gray-oscuro p-2">{{calendario.horaInicio.slice(0, 5)}}</td>
                                        <td class="border border-gray-oscuro p-2">{{calendario.horaFin.slice(0, 5)}}</td>
                                        <td class="border border-gray-oscuro p-2">{{calendario.tiempoCita}}</td>
                                        <td class="border border-gray-oscuro p-2">{{calendario.cantidadCitas}}</td>
                                        <!-- <td class="border border-gray-oscuro p-2">{{calendario.diasSemana}}</td> -->
                                        <td class="border border-gray-oscuro p-2">
                                            <div class="flex w-full justify-between">
                                                <div [ngClass]="{'bg-green-intermedio': calendario.diasSemana.includes('LUNES')}" class="w-full h-full border border-gray-500 text-center">L</div>
                                                <div [ngClass]="{'bg-green-intermedio': calendario.diasSemana.includes('MARTES')}" class="w-full h-full border border-gray-500 text-center">M</div>
                                                <div [ngClass]="{'bg-green-intermedio': calendario.diasSemana.includes('MIERCOLES')}" class="w-full h-full border border-gray-500 text-center">X</div>
                                                <div [ngClass]="{'bg-green-intermedio': calendario.diasSemana.includes('JUEVES')}" class="w-full h-full border border-gray-500 text-center">J</div>
                                                <div [ngClass]="{'bg-green-intermedio': calendario.diasSemana.includes('VIERNES')}" class="w-full h-full border border-gray-500 text-center">V</div>
                                                <div [ngClass]="{'bg-green-intermedio': calendario.diasSemana.includes('SABADO')}" class="w-full h-full border border-gray-500 text-center">S</div>
                                                <div [ngClass]="{'bg-green-intermedio': calendario.diasSemana.includes('DOMINGO')}" class="w-full h-full border border-gray-500 text-center">D</div>
                                            </div>
                                        </td>
                                        <td class="border border-gray-oscuro p-2">{{calendario.especialidad.nombre}}</td>
                                        <td class="border border-gray-oscuro p-2">{{'Piso:' + calendario.consultorio.piso + 'Numero:' + calendario.consultorio.numero}}</td>
                                        <td class="border border-gray-oscuro p-2">
                                            <div class="flex justify-between items-center">
                                                <button>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
                                                </button>
                                                <button>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                            </table>
                        </div>
                    </div>
    
                </div>
    
                <div class="flex justify-center space-x-5 p-5">
                    <button type="button" title="agregarCalendario" class="bg-blue-intermedio text-white border border-blue-intermedio rounded-md py-1 px-3 hover:bg-blue-oscuro transition duration-300">
                        Agregar Calendario
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
