<div class="container mx-auto px-4 mt-4 md:mt-8 md:p-0">
    <div *ngIf="loading" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75 z-50">
        <div class="loader ease-linear rounded-full border-4 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
        <p class="text-white text-lg">Cargando...</p>
    </div>
    <div class="flex justify-center">
        <div class="w-full max-w-6xl bg-gray-claro rounded-lg shadow-xl pb-2 overflow-hidden">
            <div *ngIf="successMessage" class="w-full bg-green-intermedio text-center text-white text-lg max-h-10">
                {{ successMessage }}
            </div>
            <div *ngIf="errorMessage" class="w-full bg-red-500 text-center text-white text-lg max-h-10">
                {{ errorMessage }}
            </div> 
            <h1 class="flex justify-center text-lg">
                Copagos
            </h1>
            <div class="flex">
                <div class="w-fit bg-gray-intermedio rounded-md py-2">
                    <div class="max-w-64 m-2">
                        <app-articulos></app-articulos>
                    </div>
                </div>

                <div class="w-full bg-red-200">
                    <app-seguro-medico-select class=""></app-seguro-medico-select>
                    <!-- CONTENIDO PRINCIPAL Y COPAGOS -->
                    <div class="p-4">
                        <Table class="w-full">
                            <thead>
                                <tr>
                                    <th class="border border-gray-oscuro p-2 text-left">Articulo</th>
                                    <th class="border border-gray-oscuro p-2 text-left">Especialidad</th>
                                    <th class="border border-gray-oscuro p-2 text-left">Precio Actual</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let copago of this.selectedSeguroMedico?.copagos">
                                    <td class="border border-gray-oscuro p-2">{{ copago.articulo.nombre }}</td>
                                    <td class="border border-gray-oscuro p-2">{{ copago.especialidad.nombre }}</td>
                                    <td class="border border-gray-oscuro p-2">
                                        <div class="flex">
                                            {{ getPrecioActual(copago.precios) }}
                                            <img src="images/calendar_clock.svg" alt="calendario de precios" class="h-full">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </Table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
