<div class="container mx-auto px-4 mt-4 md:mt-8 md:p-0">
    <div *ngIf="loading" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75 z-50">
        <div class="loader ease-linear rounded-full border-4 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
        <p class="text-white text-lg">Cargando...</p>
    </div>
    <div class="flex justify-center">
        <div class="w-full max-w-6xl bg-gray-claro rounded-lg shadow-xl overflow-hidden">     
            <div *ngIf="errorMessage" class="w-full bg-red-500 text-center text-white text-lg max-h-10">
                {{ errorMessage }}
            </div>   
            <div *ngIf="!disableSearch" class="flex justify-start space-x-5 p-5">
                <input type="text" class="border border-gray-intermedio rounded-md px-2 text-sm" placeholder="Ingresar CI del paciente" [(ngModel)]="search">
                <button type="button" (click)="obtenerHistoriaClinica(search)" class="bg-blue-intermedio text-white border border-blue-intermedio rounded-md py-1 px-3 hover:bg-blue-oscuro transition duration-300">Buscar</button>
            </div> 
            <div *ngIf="!hayPaciente">
                <p class="text-center text-lg pb-5 font-semibold">
                    Ingrese la cédula de un paciente para ver su historia clínica.
                </p>
            </div>
            <div *ngIf="hayPaciente" class="flex flex-col">
                <div class="p-5">
                    <h1 class="text-center text-lg font-semibold mb-4">Datos del Paciente</h1>
                    <div class="bg-white rounded-md shadow p-3">
                        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                            <div class="flex flex-col">
                                <span class="font-semibold">Cédula:</span>
                                <span>{{ paciente.documento }}</span>
                            </div>
                            <div class="flex flex-col">
                                <span class="font-semibold">Nombre:</span>
                                <span>{{ paciente.nombres }}</span>
                            </div>
                            <div class="flex flex-col">
                                <span class="font-semibold">Apellido:</span>
                                <span>{{ paciente.apellidos }}</span>
                            </div>
                            <div class="flex flex-col">
                                <span class="font-semibold">Fecha de Nacimiento:</span>
                                <span>{{ paciente.fechaDeNacimiento | date:'dd/MM/yyyy' }}</span>
                            </div>
                            <div class="flex flex-col">
                                <span class="font-semibold">Dirección:</span>
                                <span>{{ paciente.direccion }}</span>
                            </div>
                            <div class="flex flex-col">
                                <span class="font-semibold">Teléfono:</span>
                                <span>{{ paciente.telefono }}</span>
                            </div>
                            <div class="flex flex-col">
                                <span class="font-semibold">Mail:</span>
                                <span>{{ paciente.email }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="historiaClinica && historiaClinica.length > 0 || filtroActivo" class="p-5">
                    <h2 class="text-lg font-semibold text-center mb-4">Historia Clínica</h2>
                    <div class="flex space-x-5">
                        <div class="flex justify-start pb-3">
                            <button (click)="abrirModalFiltro()" title="Aplicar filtro" class="text-white border rounded-md py-1 px-2 bg-gray-400 border-gray-400 hover:bg-gray-500 transition duration-300">
                                Aplicar Filtro
                            </button>
                        </div>
                        <div *ngIf="fechaFin && fechaInicio && filtroActivo" class="flex justify-start pb-3">
                            <button type="button" (click)="eliminarRango()" title="Eliminar rango" class="flex items-center text-white border rounded-md py-1 px-2 bg-red-300 border-red-300 hover:bg-red-400 transition duration-300">
                                <span class="material-icons">close</span>
                                <span class="ml-1">Eliminar rango</span>
                            </button>
                        </div>
                        <div *ngIf="mostrarEliminarEspecialidadesButton()" class="flex justify-start pb-3">
                            <button type="button" (click)="eliminarEspecialidades()" title="Eliminar especialidades" class="flex items-center text-white border rounded-md py-1 px-2 bg-red-300 border-red-300 hover:bg-red-400 transition duration-300">
                                <span class="material-icons">close</span>
                                <span class="ml-1">Eliminar especilidades</span>
                            </button>
                        </div>
                    </div>
                    <table class="min-w-full bg-white rounded-lg shadow-md">
                        <thead class="bg-gray-200">
                            <tr>
                                <th class="py-2 text-center font-semibold w-1/12 border-b border-gray-300">Fecha</th>
                                <th class="py-2 text-center font-semibold w-2/12 border-b border-gray-300">Especialidad</th>
                                <th class="py-2 text-center font-semibold w-3/12 border-b border-gray-300">Descripción</th>
                                <th class="py-2 text-center font-semibold w-4/12 border-b border-gray-300">Diagnóstico</th>
                                <th class="py-2 text-center font-semibold w-2/12 border-b border-gray-300">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cita of historiaClinica" class="hover:bg-gray-100">
                                <td class="py-1 text-center w-1/12 border-b border-gray-300">{{ cita.citaMedica.fecha | date:'dd/MM/yyyy' }}</td>
                                <td class="py-1 text-center w-2/12 border-b border-gray-300">{{ cita.citaMedica.calendario.especialidad.nombre }}</td>
                                <td class="py-1 text-center w-3/12 border-b border-gray-300">
                                    {{ cita.consultaMedica.descripcion }}
                                </td>
                                <td class="py-1 text-center w-4/12 border-b border-gray-300">
                                    {{ cita.consultaMedica.diagnostico }}
                                </td>
                                <td class="py-1 text-center w-2/12 border-b border-gray-300">
                                    <button *ngIf="cita.consultaMedica.recetas.length > 0" (click)="verReceta(cita.consultaMedica.recetas)" class="text-blue-intermedio font-medium hover:underline hover:text-blue-oscuro">Ver Recetas</button>
                                    <span *ngIf="cita.consultaMedica.recetas.length === 0">Sin Recetas</span>
                                    <br>
                                    <button *ngIf="cita.consultaMedica.estudios.length > 0" (click)="verEstudios(cita.consultaMedica.estudios)" class="text-blue-intermedio font-medium hover:underline hover:text-blue-oscuro">Ver Estudios</button>
                                    <span *ngIf="cita.consultaMedica.estudios.length === 0">Sin Estudios</span>
                                </td>
                            </tr>
                            <tr *ngIf="historiaClinica && historiaClinica.length === 0 && filtroActivo">
                                <td class="py-2 text-center" colspan="5">
                                    <p class="text-center text-lg font-semibold">
                                        No se encontraron resultados con los filtros aplicados.
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="totalPages > 1" class="text-center space-x-5 mt-5">
                        <!-- Botón de Inicio -->
                        <button 
                          (click)="changePage(1)" 
                          [disabled]="pageNumber === 1"
                          [ngClass]="{
                              'text-gray-400 cursor-not-allowed': pageNumber === 1,
                              'text-black': pageNumber !== 1
                          }"
                        >
                          <strong><<</strong>
                        </button>
                      
                        <!-- Botón de Anterior -->
                        <button 
                          (click)="changePage(pageNumber - 1)" 
                          [disabled]="pageNumber === 1"
                          [ngClass]="{
                              'text-gray-400 cursor-not-allowed': pageNumber === 1,
                              'text-black': pageNumber !== 1
                          }"
                        >
                          <strong><</strong>
                        </button>
                      
                        <!-- Información de la página actual -->
                        <span *ngFor="let page of pages" (click)="changePage(page)">
                          <button 
                            [disabled]="page === pageNumber" 
                            [ngClass]="{
                              'font-bold underline': page === pageNumber,
                              'text-black': page !== pageNumber
                            }"
                          >
                            {{ page }}
                          </button>
                        </span>
                      
                        <!-- Botón de Siguiente -->
                        <button 
                          (click)="changePage(pageNumber + 1)" 
                          [disabled]="pageNumber === totalPages"
                          [ngClass]="{
                            'text-gray-500 cursor-not-allowed': pageNumber === totalPages,
                            'text-black': pageNumber !== totalPages
                          }"
                        >
                          <strong>></strong>
                        </button>
                      
                        <!-- Botón de Fin -->
                        <button 
                          (click)="changePage(totalPages)" 
                          [disabled]="pageNumber === totalPages"
                          [ngClass]="{
                              'text-gray-500 cursor-not-allowed': pageNumber === totalPages,
                              'text-black': pageNumber !== totalPages
                          }"
                        >
                          <strong>>></strong>
                        </button>
                      </div>  
                </div>
                <div *ngIf="historiaClinica && historiaClinica.length === 0 && !filtroActivo" class="p-5">
                    <p class="text-center text-lg font-semibold">
                        El paciente no tiene historia clínica registrada.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="modalRecetas">
    <div class="fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50">
        <div class="bg-white w-1/2 p-5 rounded-lg shadow-lg space-y-3 max-h-screen overflow-y-auto">
            <div class="flex justify-between items-center">
                <h1 class="text-lg font-bold">Recetas</h1>
                <button type="button" title="Cerrar" (click)="closeModalRecetas()" class="text-red-600 hover:text-red-800 transition duration-300">
                    <span class="material-icons">close</span>
                </button>
            </div>
            <div class="overflow-x-auto">
                <table class="min-w-full bg-white">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 border-b text-center">Medicamento</th>
                            <th class="py-2 px-4 border-b text-center">Cantidad</th>
                            <th class="py-2 px-4 border-b text-center">Frecuencia</th>
                            <th class="py-2 px-4 border-b text-center">Vencimiento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let receta of recetas">
                            <td class="py-2 px-4 border-b text-center">{{ receta.nombreMedicamento }}</td>
                            <td class="py-2 px-4 border-b text-center">{{ receta.cantidad }}</td>
                            <td class="py-2 px-4 border-b text-center">{{ receta.frecuencia }}</td>
                            <td class="py-2 px-4 border-b text-center">{{ receta.vencimiento | date:'dd/MM/yyyy' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div *ngIf="modalEstudios">
    <div class="fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-50">
        <div class="bg-white w-1/2 p-5 rounded-lg shadow-lg space-y-3 max-h-screen overflow-y-auto">
            <div class="flex justify-between items-center">
                <h1 class="text-lg font-bold">Estudios</h1>
                <button type="button" title="Cerrar" (click)="closeModalEstudios()" class="text-red-600 hover:text-red-800 transition duration-300">
                    <span class="material-icons">close</span>
                </button>
            </div>
            <div class="overflow-x-auto">
                <table class="min-w-full bg-white">
                    <thead>
                        <tr>
                            <th class="py-2 px-4 border-b text-center w-2/12">Nombre</th>
                            <th class="py-2 px-4 border-b text-center w-5/12">Descripción</th>
                            <th class="py-2 px-4 border-b text-center w-2/12">Fecha realizado</th>
                            <th class="py-2 px-4 border-b text-center w-2/12">Fecha resultado</th>
                            <th class="py-2 px-4 border-b text-center w-1/12">Resultado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let estudio of estudios">
                            <td class="py-2 px-4 border-b text-center w-2/12">{{ estudio.nombre }}</td>
                            <td class="py-2 px-4 border-b text-center w-5/12">{{ estudio.descripcion }}</td>
                            <td class="py-2 px-4 border-b text-center w-2/12">{{ estudio.fechaRealizado | date:'dd/MM/yyyy' }}</td>
                            <td class="py-2 px-4 border-b text-center w-2/12">{{ estudio.fechaResultado | date:'dd/MM/yyyy' }}</td>
                            <td class="py-2 px-4 border-b text-center w-1/12">
                                <button class="text-blue-intermedio hover:text-blue-oscuro hover:underline transition duration-300" (click)="descargarPdf(estudio.imagenUrl)">Ver pdf</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div *ngIf="modalFiltro" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-75">
    <div class="bg-white p-5 rounded-lg shadow-lg w-1/3">
        <div class="flex justify-between items-center">
            <h1 class="text-lg font-bold">Filtros</h1>
            <button type="button" title="Cerrar" (click)="cerrarModalFiltro()" class="text-red-600 hover:text-red-800 transition duration-300">
                <span class="material-icons">close</span>
            </button>
        </div>
        <div class="py-5">
            <h2 class="text-lg font-bold">Fechas</h2>
            <div class="flex justify-between p-5">
                <div class="flex flex-col">
                    <label class="font-semibold">Orden:</label>
                    <div class="flex flex-row space-x-5">
                        <div class="flex items-center space-x-2">
                            <input type="checkbox" id="ascendente" [(ngModel)]="ordenAscendente" (change)="toggleOrden('ascendente')">
                            <label for="ascendente">Asc</label>
                        </div>
                        <div class="flex items-center space-x-2">
                            <input type="checkbox" id="descendente" [(ngModel)]="ordenDescendente" (change)="toggleOrden('descendente')">
                            <label for="descendente">Desc</label>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col">
                    <label for="fechaInicio" class="font-semibold">Fecha Inicio</label>
                    <input type="date" [max]="fechaFin" id="fechaInicio" class="border border-gray-300 rounded-md px-2 py-1" [(ngModel)]="fechaInicio">
                </div>
                <div class="flex flex-col">
                    <label for="fechaFin" class="font-semibold">Fecha Fin</label>
                    <input type="date" [min]="fechaInicio" [disabled]="!fechaInicio" id="fechaFin" class="border border-gray-300 rounded-md px-2 py-1" [(ngModel)]="fechaFin">
                </div>
            </div>
        </div>
        <div>
            <h2 class="text-lg font-bold">Especialidades</h2>
            <div class="p-5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                <div *ngFor="let especialidad of especialidades" class="flex items-center space-x-2">
                    <input
                        type="checkbox"
                        id="{{ especialidad.id }}"
                        [(ngModel)]="especialidad.IsChecked"
                        [disabled]="isCheckboxDisabled(especialidad)"
                    />
                    <label for="{{ especialidad.id }}">{{ especialidad.nombre }}</label>
                </div>
            </div>
        </div>
        
        
        
        <div class="flex justify-center py-1">
            <button type="button" (click)="aplicarFiltros()" title="Aplicar filtros" class="bg-blue-intermedio text-white border border-blue-intermedio rounded-md py-1 px-3 hover:bg-blue-oscuro transition duration-300">
                Aplicar
            </button>
        </div>
    </div>
</div>