<div class="container mx-auto px-1 md:px-4 mt-4 md:mt-12 md:p-0">
    <div *ngIf="loading" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75 z-50">
        <div class="loader ease-linear rounded-full border-4 border-t-4 border-gray-200 h-12 w-12 mb-4"></div>
        <p class="text-white text-lg">Cargando...</p>
    </div>
    <div class="rounded-lg shadow-md max-w-6xl mx-auto overflow-hidden">
        <div class="bg-blue-oscuro p-6 text-white">
            <h1 class="text-3xl font-bold text-center">Notifiaciones</h1>
        </div>
        <div *ngIf="notificaciones.length > 0" class="flex md:justify-between h-full">
            <div 
                [ngClass]="{
                    'block': !hayNotificacionAbierta,
                    'hidden': hayNotificacionAbierta
                }" 
                class="w-full md:w-1/3 flex flex-col md:block">
                <div 
                    *ngFor="let notificacion of notificaciones" 
                    [ngClass]="{
                        'bg-white': notificacion.visto,
                        'bg-gray-100 font-semibold': !notificacion.visto
                    }"
                    class="border-b border-b-gray-300 p-5 hover:cursor-pointer hover:bg-gray-200"
                >
                    <div (click)="verNotificacion(notificacion)" class="flex justify-between">
                        <div class="flex flex-col">
                            <p>Fecha: {{ notificacion.fechaEnvio | date:'shortDate'  }}</p>
                            <p>Hora: {{ notificacion.fechaEnvio | date:'shortTime' }}</p>
                        </div>
                        <span 
                            *ngIf="!notificacion.visto" 
                            class="w-2 h-2 bg-red-500 rounded-full">
                        </span>
                    </div>
                </div>
                <div *ngIf="totalPages > 1" class="text-center space-x-5 my-2">
                    <!-- Botón de Inicio -->
                    <button 
                        (click)="changePage(1)" 
                        [disabled]="pageNumber === 1"
                        [ngClass]="{
                            'text-gray-400 cursor-not-allowed': pageNumber === 1,
                            'text-black': pageNumber !== 1
                        }"
                    >
                        <strong><<</strong>
                    </button>
                    
                    <!-- Información de la página actual -->
                    <span *ngFor="let page of pages" (click)="changePage(page)">
                        <button 
                        [disabled]="page === pageNumber" 
                        [ngClass]="{
                            'font-bold underline': page === pageNumber,
                            'text-black': page !== pageNumber
                        }"
                        >
                        {{ page }}
                        </button>
                    </span>
                    
                    <!-- Botón de Fin -->
                    <button 
                        (click)="changePage(totalPages)" 
                        [disabled]="pageNumber === totalPages"
                        [ngClass]="{
                            'text-gray-500 cursor-not-allowed': pageNumber === totalPages,
                            'text-black': pageNumber !== totalPages
                        }"
                    >
                        <strong>>></strong>
                    </button>
                </div>  
            </div>
            <div
                [ngClass]="{
                    'block': hayNotificacionAbierta,
                    'hidden': !hayNotificacionAbierta
                }" 
                class="bg-white w-full md:w-2/3 md:block border-l border-l-gray-200">
                <div *ngIf="!hayNotificacionAbierta" class="w-full h-full flex items-center justify-center">
                    <img src="images/email.png" alt="Notificación" class="w-96 h-80 object-contain">
                </div>                
                <div *ngIf="hayNotificacionAbierta" class="flex flex-col space-y-5 p-5 md:p-10">
                    <div class="flex justify-between items-center">
                        <img (click)="irAtras()" src="images/back.png" alt="Notificación" class="w-12 h-8 object-contain md:hidden hover:cursor-pointer">
                        <p class="flex justify-end">{{ notificacion.fechaEnvio | date:'shortDate' }} - {{ notificacion.fechaEnvio | date:'shortTime' }}</p>
                    </div>
                    <div>
                        <h1 class="text-base font-bold">Mensaje:</h1>
                        <p>{{ notificacion.mensaje }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="notificaciones.length === 0" class="bg-gray-claro flex justify-center h-full">
            <div class="w-full md:w-1/3 flex flex-col md:block">
                <div class="border-b border-b-gray-300 p-5">
                    <p class="text-center font-semibold text-lg">No tienes notificaciones</p>
                </div>
            </div>
        </div>
    </div>
</div>
